<!DOCTYPE html>
<html>

<head>
    <title>Note Taking App Help</title>
    <style>
        body {
            background-image: url('https://img.freepik.com/premium-photo/help-word-is-written-wooden-cubes-green-summer-background-closeup-wooden-elements_661495-1515.jpg?w=1380');
            background-size: cover;
            font-family: Arial, sans-serif;
            background-attachment: fixed;
            color: #333;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 50px;
            background-color: rgba(255, 255, 255, 0.9);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }

        h1 {
            font-size: 48px;
            margin-bottom: 30px;
            text-align: center;
            text-shadow: 1px 1px #fff;
        }

        h2 {
            font-size: 36px;
            margin-top: 50px;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 20px;
        }

        img {
            max-width: 100%;
            margin-bottom: 20px;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1>Note Taking App Help</h1>
        <h2>Reminders via Email</h2>
        <p>Our note-taking app allows you to set reminders for your notes by email. Simply add your email address to a
            note, along with the date and time you want to be reminded, and we'll send you an email at that time. This
            is great for important deadlines, meetings, or events.</p>
        <img src="img/help/email.png"
            alt="Email Reminder Example">
        <h2>Background Images</h2>
        <p>We understand that notes can be more fun and visually appealing with some background images. Our note-taking
            app lets you choose from a variety of background images to add to your notes. This makes it easier for you
            to differentiate between different types of notes, or just add a touch of creativity to your notes.</p>
        <img src="img/help/bg.png"
            alt="Background Image Example">
        <h2>Adding Images to Notes</h2>
        <p>Our note-taking app also allows you to add images to your notes. This is great for capturing visual
            information or ideas, such as a picture of a whiteboard brainstorming session or a sketch of a design idea.
            You can easily insert images alongside your text, making your notes more comprehensive and memorable.</p>
        <img src="img/help/images.png"
            alt="Image Note Example">
    </div>
</body>

</html>