<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <header class="myheader">
        <p>Take Notes With FUN</p>
    </header>
    <div class="mainContainer">
        <div class="upper">
            <div class="heading">
                <p>Take Your Notes Here Watch Them AnyWhere</p>
            </div>
            <div class="myForm">
                <p class="msz">Add a Note
                </p>
                <form action="" style="height: 80%;">
                    <textarea name="text" id="text" placeholder="Write Here!"></textarea>
                    <button class="btn">Add Note</button>
                </form>
            </div>
        </div>
        <div class="middle">
            <hr class="lines">
            <p>Your Notes</p>
            <hr class="lines">
        </div>
        <div class="tools">
            <div class="item">
                <label for="car">Sort By Date</label>
                <select name="myCar" id="car">
                    <option value="ind">Incresing</option>
                    <option value="swf" selected>Decresing</option>
                </select>
            </div>
            <div class="item">
                Show First: Completed <input type="radio" name="myGender" checked> Remaining <input type="radio"
                    name="myGender">
            </div>
            <div class="item">
                <label for="car">Show till</label>
                <select name="myCar" id="car">
                    <option value="swf" selected>All Time</option>
                    <option value="ind">Last Months</option>
                    <option value="swf">Last 3 months</option>
                    <option value="swf">Last 5 months</option>
                </select>
            </div>

        </div>
        <div class="notes">
            <div class="note">
                <p class="noteTop">Note1</p>
                <div class="noteContent">
                    hello There My name is Deepak Suthar
                </div>
                <button class="btn noteRemove">Delete Note</button>
            </div>
            <div class="note">
                <p class="noteTop">Note1</p>
                <div class="noteContent">
                    hello There My name is Deepak Suthar
                </div>
                <button class="btn noteRemove">Delete Note</button>
            </div>
            <div class="note">
                <p class="noteTop">Note1</p>
                <div class="noteContent">
                    hello There My name is Deepak Suthar
                </div>
                <button class="btn noteRemove">Delete Note</button>
            </div>
            <div class="note">
                <p class="noteTop">Note1</p>
                <div class="noteContent">
                    hello There My name is Deepak Suthar
                </div>
                <button class="btn noteRemove">Delete Note</button>
            </div>
            <div class="note">
                <p class="noteTop">Note1</p>
                <div class="noteContent">
                    hello There My name is Deepak Suthar
                </div>
                <button class="btn noteRemove">Delete Note</button>
            </div>
        </div>
    </div>
    <footer>

    </footer>
</body>

</html>