<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
    </style>
    <link rel="stylesheet" href="css/login.css">
</head>

<body>
    <div class="main">
        <div class="box">
            <div class="head">
                <% if(typeof err !='undefined' ){ %>
                    <div class="error">
                        <strong> Error </strong>
                        <%= err %>.
                            <button type="button" onclick="document.getElementsByClassName('error')[0].remove()"
                                class="btn-close">x</button>
                    </div>
                    <% } %>
                        <label for="profile"><img src="img/logo.jpg" id="user-image" alt="logo"></label>
                        <input hidden type="file" name="profile" id="profile" accept="image/*">
            </div>
            <form action="/signup" method="POST" id="myform">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <input placeholder="Email address" type="email" name="email" id="email">
                <input placeholder="Name" type="text" name="username" id="username">
                <input placeholder="Password" type="password" name="password" id="password">
                <input type="hidden" name="profile_link" id="profile_link" value="img/logo.jpg" >
                <div class="foot">
                    <div class="btns">
                        <button>Sign Up</button>
                        <button style="background-color: #1a73e8;">Log In</button>
                    </div>
                </div>
            </form>
            <hr>
            <div class="btns">
                <button disabled="disabled" style="background-color: #e8621a;"><a class="btn btn-lg btn-success"
                        style="color: white;text-decoration: none;" href="/google">Google</a></button>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('profile').addEventListener('change', async () => {
            image = document.getElementById('profile').files[0];
            console.log(image);
            data = await upload_image(image);
            console.log(data);
            document.getElementById('user-image').src = data.link;
            document.getElementById('profile_link').value = data.link;
        })
        function upload_image(image) {
            return new Promise((resolve, reject) => {
                var formData = new FormData();
                formData.append('image', image);
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/save-img', true);
                xhr.setRequestHeader('X-CSRF-TOKEN', document.getElementById('myform').children[0].value);
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        var response = JSON.parse(xhr.response);
                        console.log(response.link);
                        console.log('Image successfully uploaded.');
                        return resolve({ link: response.link });
                    } else {
                        console.error('An error occurred while uploading the image.');
                        return reject();
                    }
                };
                xhr.send(formData);
            })
        }

    </script>
</body>

</html>